DeathUI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;

  .title {
    font-size: 100px;
    font-family: "Roboto";
    font-weight: 1000;
    animation-delay: 0.3s;
    transition: opacity 0.5s, visibility 0.5s;
    animation: title 1.5s ease-out;
    color: linear-gradient(initial + "", rgba(175, 35, 101, 255), rgba(100, 0, 0, 255));
  }

  @keyframes title {
    0% {
      opacity: 0;
    }

    1% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}