@using System
@using Sandbox;
@using Kira
@using Sandbox.UI
@inherits PanelComponent

<root>
    <div class="vitals">
        @HealthText
    </div>

    <div class="hotbar">
        @foreach (var slot in Slots)
        {
            var c = slot.id == CurrentSlotId ? "slot-active" : "slot";
            var icon = slot.hasItem ? slot.icon : "";

            <div class=@c>
                @if (slot.hasItem)
                {
                    <img class="slot-icon" src="@icon" alt=""/>
                }
            </div>
        }
    </div>
</root>


@code
{
    [Property] public PlayerManager Player { get; set; }

    private Slot[] Slots => Player.Inventory.Slots;
    private int CurrentSlotId => Player.Inventory.CurrentSlot;


    public string HealthText
    {
        get
        {
            if (Player.IsValid())
                return $"{Player.Health:F0} / {Player.MaxHealth:F0}";
            return "null / null";
        }
    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => HashCode.Combine(HealthText, CurrentSlotId, Player.Inventory.GetHashCode);
}